<% include partials/header %>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <span class="login100-form-title p-b-53">
                    <h3>ID: <%= user.id %></h3>
                    <h3>Name: <%= user.displayName %></h3>
                </span>
        </div>
    </div>
</div>

<% include partials/footer %>