<% include partials/header %>

<div class="container">
        <h2>List API</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama API</th>
              <th>Method</th>
              <th>Adress</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td>Lihat Buku</td>
                <td>GET</td>
                <td>http://localhost:6969/books</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Register</td>
                <td>POST</td>
                <td>http://localhost:6969/user/register</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Login</td>
                <td>POST</td>
                <td>http://localhost:6969/user/login</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Cari Buku</td>
                <td>GET</td>
                <td>http://localhost:6969/books/2</td>
            </tr>
            <tr>
                    <td>5</td>
                    <td>Pesan</td>
                    <td>POST</td>
                    <td>http://localhost:6969/order</td>
            </tr>
            <tr>
                    <td>6</td>
                    <td>List Order</td>
                    <td>GET</td>
                    <td>http://localhost:6969/order</td>
            </tr>
            <tr>
                    <td>7</td>
                    <td>Tambah Buku</td>
                    <td>POST</td>
                    <td>http://localhost:6969/books/create</td>
            </tr>
            <tr>
                    <td>8</td>
                    <td>Ubah Buku</td>
                    <td>PUT</td>
                    <td>http://localhost:6969/books/update</td>
            </tr>
            <tr>
                    <td>9</td>
                    <td>Hapus Buku</td>
                    <td>DELETE</td>
                    <td>http://localhost:6969/books/delete</td>
            </tr>
          </tbody>
        </table>
      </div>

<% include partials/footer %>