
<% include partials/Vheader %>

<div class="container">
  <h2>Create New Book</h2>
  <form action="/books/create" method="POST">
    <div class="form-group">
      <label for="id">ID Buku:</label>
      <input type="text" class="form-control" name="id">
    </div>
    <div class="form-group">
      <label for="judul">Judul Buku:</label>
      <input type="text" class="form-control" name="judul">
    </div>
    <div class="form-group">
      <label for="pengarang">Pengarang :</label>
      <input type="text" class="form-control" name="pengarang">
    </div>
    <div class="form-group">
      <label for="penerbit">Penerbit :</label>
      <input type="text" class="form-control" name="penerbit">
    </div>
    <div class="form-group">
      <label for="jumlah_hal">Jumlah Halaman :</label>
      <input type="text" class="form-control" name="jumlah_hal">
    </div>
    <div class="form-group">
      <label for="harga">Harga :</label>
      <input type="text" class="form-control" name="harga">
    </div>
    <form>
      <div class="form-group">
        <label for="deksripsi">Deskripsi Buku :</label>
        <input type="text" class="form-control" name="deskripsi_buku">
      </div>
      <div class="form-group">
          <label for="tanggal">Tanggal Rilis :</label>
          <input type="text" class="form-control" name="tanggal_rilis">
      </div>
      <div class="form-group">
        <label for="dd_kategori">Id Kategory :</label>
        <input type="text" class="form-control" name="id_kategori">
    </div>
    <div class="form-group">
      <label for="id_katalog">Katalog Kategori :</label>
      <input type="text" class="form-control" name="id_katalog">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<% include partials/Vfooter %>